html,body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.left .logo {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav-bar {
    display: flex;
}

.header .nav-bar-items {
    list-style: none;
    padding: 10px 15px;
}

.header .nav-bar-items .link {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.btn {
    background-color: #0077C0;
    border: none;
    padding: 15px 10px;
    border-radius: 15px;
    text-transform: capitalize;
    color: white;
    margin: 5px 0;
}

.right {
    display: flex;
    align-items: center;
}

.banner .content {
    width: 30%;
    padding: 40px 0;
}

.content .title {
    font-size: 26px;
    padding: 15px 0;
    line-height: 35px;
    font-weight: bold;
}

.banner-hero {
    /* background-image: url(./images/hero.png); */
    display: flex;
}

.hero-image-wrapper {
    width: 650px;
}

.hero-image-wrapper img {
    width: 100%;
    height: 100%;
}

.images-items {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.brand {
    width: 70px;
}

.brand img {
    width: 100%;
}

.features {
    display: none;
}

.feature-inside {
    text-align: center;
    background-color: rgb(60, 60, 180);
    height: 400px;
}

.icons {
    text-align: center;
    justify-content: space-between;
    display: flex;
}

.icons description {
    justify-content: center;

}

.cards-items {
    padding: 14px 0;
}

.content-card {
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    width: 40%;
    column-gap: 20;

}

.benefits {
    background-color: #0077C0;
    color: white;
    padding: 45px 0;
}

.benefits .heading {
    font-size: 16px;
    margin: 14px 0;
}


.benefits .sub-heading {
    font-size: 48px;
    font-weight: bold;
}

.benefits .tags {
    display: flex;
}

.benefits .icon {
    width: 50px;
}

.benefits .icon img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.benefits .title {
    padding: 13px 0px;
    font-size: larger;
    font-weight: bold;
}

.benefits .caption {

    padding: 14px 0;
}



.cards {
    padding: 30px 0;
    justify-content: space-between;

}

.content-card .pra {
    display: flex;
    font-size: 100%;
    font-style: SF Pro Display;
    font-weight: bold;


}

.cards .numbers {
    border-radius: 70px;
    background-color: #0077C0;

}

.cards .steps {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.cards .steps .numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

.cards .cards-wrapper {
    display: flex;
    column-gap: 25%;

}

.last {
    margin: 90px 0;
}

.last .last-wrapper {
    background-color: #0077C0;
    padding: 10px 50px 0 50px;
    display: flex;
    column-gap: 20%;
}

.last .title {
    color: white;
    font-style: SF Pro Display;
    font-size: 60%;
    padding: 12px 0;

}

.last .caption {
    color: white;
    font-weight: bold;
    font-size: 170%;
    padding: 12px 0;
}

.last .btn {
    background-color: white;
    color: #0077C0;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;

}

.social .company {
    display: flex;

}

.banner1 .get-started-btn {
    padding: 13px 0;
}

.hero-image-wrapper {
    height: 65%;
    width: 35%;
    justify-content: space-between;
}

.rating .review1 {
    height: 120%;
    width: 150%;
    text-align: center;
    font-weight: bold;


}

.rating .review-wrapper {
    display: flex;
    flex-wrap: wrap;



}

.rating .review-wrapper .review {
    width: 26%;
}

.rating .review-wrapper .review img {
    width: 100%;
}


.company {
    background-color: black;
    padding: 15px 0;
}



.social-links img {
    height: 20px;
    padding: 30px 0;
}

.copyrights {
    color: white;
    padding: 25px 0;


}

.Companystyle {
    color: white;
    font-weight: bold;
}

.Companystyles {
    color: white;
    font-size: small;
    padding: 30px 0px;



}


.footer-wrapper {

    display: flex;
    justify-content: space-between;
}